@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Times New Roman", serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: #0A171F;
    --foreground: #D4B57C;
    --card: #0A171F;
    --card-foreground: #D4B57C;
    --popover: #0A171F;
    --popover-foreground: #D4B57C;
    --primary: #D4B57C;
    --primary-foreground: #0A171F;
    --secondary: #0A171F;
    --secondary-foreground: #D4B57C;
    --muted: #0A171F;
    --muted-foreground: #D4B57C;
    --accent: #0A171F;
    --accent-foreground: #D4B57C;
    --destructive: #ff0000;
    --destructive-foreground: #ffffff;
    --border: #D4B57C;
    --input: #D4B57C;
    --ring: #D4B57C;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.5rem;
  }
  .dark {
    --background: #0A171F;
    --foreground: #D4B57C;
    --card: #0A171F;
    --card-foreground: #D4B57C;
    --popover: #0A171F;
    --popover-foreground: #D4B57C;
    --primary: #D4B57C;
    --primary-foreground: #0A171F;
    --secondary: #0A171F;
    --secondary-foreground: #D4B57C;
    --muted: #0A171F;
    --muted-foreground: #D4B57C;
    --accent: #0A171F;
    --accent-foreground: #D4B57C;
    --destructive: #ff0000;
    --destructive-foreground: #ffffff;
    --border: #D4B57C;
    --input: #D4B57C;
    --ring: #D4B57C;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
